.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    background-color: white;
    width: 92px;
    z-index: 200;

}
.sidebar-link{
height: 108px;
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
cursor: pointer;
}
.sidebar-link:hover{
    background-color: lightgray;
}
.sidebar-link img{
    height: 32px;
    margin-bottom:8px;
}
.sidebar-link div{
    font-family: arial;
    font-size: 10px;


}